# Created by .ignore support plugin (hsz.mobi)
/tx-lcn.iml
/.idea/
/.txlcn/
/yx-sa/target/
/yx-sb/target/
/yx-tm/target/
/logs/*
/derby.log
/register/nacos/data/derby-data/log/
/register/nacos/data/derby-data/seg0/
/register/nacos/data/derby-data/tmp/
/yx-monitor/yx-monitor.iml
